<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static  'bootstrap/css/bootstrap.css' %}">
</head>
<body>
<nav class="navbar navbar-dark bg-dark">
    <div class="container">
        <ul class="navbar-nav">
            <li>
                <a class="navbar-brand" href="{% url 'index' %}">BRAND</a>
            </li>
            <li>
                <a class="navbar-link" href="{% url 'admin:index' %}">ADMIN PAGE</a>
            </li>
            <li>
                <a class="navbar-link" href="{% url 'basic_app:other' %}">OTHER</a>
            </li>
        </ul>
    </div>
</nav>
<div class="container">
    {% block body_block %}
    {% endblock %}
</div>
</body>
</html>