<!DOCTYPE html>
{% extends 'basic_app/base.html' %}
{% block body_block %}
    <h1>WELCOME TO INDEX</h1>
    <h1>THIS IS INDEX.html IS SHOWING!</h1>
    <h1>{{ text|cut:'hello' }}</h1>
    <h1>{{ number|add:'24' }}</h1>
{% endblock %}

