<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>WELCOME TO RELATIVE URL TEMPLATES</h1>
<a href="{% url 'basic_app:other' %}">THE OTHER PAGE</a><br>
<a href="{% url 'admin:index' %}">THE ADMIN PAGE</a><br>
<a href="{% url 'index' %}">THE INDEX PAGE</a><br>
</body>
</html>